@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
  background: linear-gradient(to right, #ffe5ec, #e0ffe0);
}
.section{
    width: 100%;
    background-color: rgb(232, 241, 158);
}

.section h1{
    text-align: center;
    padding: 1 rem 0;
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    padding-bottom: 0.5rem;
}
.wrapper{
    max-width: 800px;
    min-width: auto;
    background: linear-gradient(to right, #ce6581, #80eb80);
    border: 2px solid pink;
    /* background-color: red; */
    padding-left: 2rem;
    margin: auto;
    min-height: 400px;
    max-height: max-content;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.2rem;
}
.section .wrapper .card{
    height: 14rem;
    width: 14rem;
}
.section .wrapper .card:hover{
     transform: scale(1.1);
    box-shadow: black 0px 3px 6px, black 0px 3px 6px;
}
.section .wrapper .card figure {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.section .wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
.section .wrapper .card img:hover{
    filter: grayscale(0);
}

.section .wrapper .card figure figcaption{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 600;
    opacity: 0;
}
.section .wrapper .card:hover figure figcaption {
     opacity: 100;
}



@media screen and (max-width:800px) {
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:450px) and (max-width:750px) {
    .section h1{
        font-weight: 700px;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
         width: auto;
        display: flex;
        flex-wrap: wrap; 
        margin-left: 20px;
        margin-right: 30px;
        
    }
    .section .wrapper .card{
        height: 12rem;
        width: 12rem;
    }
    .section .wrapper .card figure figcaption{
        font-weight: 300;
        font-size: 14px;
    }
    
}
@media screen and (max-width:450px) {

    .section h1{
        font-weight: 300px;
    }
    .wrapper{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 200px;
        margin-left: 30px;
        margin-right: 50px;
        text-align: center;
    }
    .section .wrapper .card{
        height: 10rem;
        width: 10rem;
       
        /* margin-left: 20px; */
    }
    .section .wrapper .card figure figcaption{
        font-weight: 100;
        font-size: 12px;
    }

    /* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
} */
    
}

@media screen and (min-width:300px){
    .section h1{
        font-weight: 100px;
        font-size: 28px

    }

}
